[nodesource]
name=Node.js Packages for Enterprise Linux 6 - $basearch
baseurl=https://mirrors.ustc.edu.cn/nodesource/rpm/pub_8.x/el/6/$basearch
failovermethod=priority
enabled=1
gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/NODESOURCE-GPG-SIGNING-KEY-EL

[nodesource-source]
name=Node.js for Enterprise Linux 6 - $basearch - Source
baseurl=https://mirrors.ustc.edu.cn/nodesource/rpm/pub_8.x/el/6/SRPMS
failovermethod=priority
enabled=0
gpgkey=file:///etc/pki/rpm-gpg/NODESOURCE-GPG-SIGNING-KEY-EL
gpgcheck=0
